# IntelliJ IDEA and gradle
.idea/
.gradle

# Build
build/
out/

# Other
.DS_Store

# Saved tournaments
*.rlts
saves/

# Current match data
overlay/current_match.json

# RLBot test binary
RLBotServer.exe
