.match {
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.match:hover{
    -fx-cursor: hand;
    -fx-border-width: 1;
    -fx-border-color: green;
}

.selectedMatch {
    -fx-border-color: blue;
}

.triangle {
    visibility: hidden;
}

.blue .color {
    -fx-fill: #4271f9;
}

.orange .color {
    -fx-fill: #f28542;
}

.scoreBg {
    -fx-fill: white;
    -fx-stroke-type: inside;
    -fx-stroke-width: 1;
    -fx-stroke: #c1c1c1;
}

#matchPlayed .winner .teamBg {
    -fx-fill: #97af97;
}

#matchPlayed .winner .triangle {
    visibility: visible;
    -fx-fill: #97af97;
}

#matchPlayed .winner .scoreBg {
    -fx-stroke: #97af97;
}

#matchPlayed .winner .scoreNo {
    -fx-font-weight: bold;
}

#matchPlayed .winner .team {
    -fx-font-weight: bold;
}

#matchTBD .team {
    -fx-font-style: italic;
}