.top {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#header-container {
    display: grid;
    grid-template-columns: auto 392px auto;
    grid-template-rows: auto 4px auto;
    grid-template-areas:
            "blue . orange"
            ". . ."
            "bluewins . orangewins";
    font-size: 0;
}

.bottom {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.bottom-right {
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

.team-name {
    font-size: 24px;
    font-weight: bold;
    font-family: "Helvetica", "Verdana", sans-serif;
    color: white;
    text-align: center;
}

.win-indicator {
    margin: 0 1px 0 1px;
}

#ladder-div {
    margin-top: 35px;
    margin-left: 35px;
    display: inline-block;
    float: left;
}

#message {
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Consolas", "Courier New", monospace;
    width: 1000px;
    margin-left: 100px;
    margin-top: 100px;
    color: white;
    text-shadow: 0 0 12px rgb(0, 0, 0)
}

p.bot {
    border: solid 1px gray;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
    padding: 4px;
    margin-bottom: 3px;
    margin-top: 8px;
    width: 200px;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: black;
    color: lightgray;
}

.date {
    font-size: 0.8em;
    font-weight: normal;
}

p.bot.round-robin.evaluating {
    background-color: #255c47;
}

p.bot.round-robin.evaluating.playing {
    background-color: #255c47;
}

p.bot.round-robin {
    background-color: #1c3d3e;
}

div.inactive-division {
    border: solid 1px rgba(85, 85, 85, 0.52);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
    padding: 4px;
    margin-bottom: 3px;
    margin-top: 4px;
    width: 200px;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(89, 89, 89, 0.4);
    color: lightgray;
}

div.active-division {
    margin-bottom: 30px;
    margin-top: 20px;
}

.division-header {
    color: #ffffff;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0 0 6px rgb(0, 0, 0)
}

.rr_record {
    float:right;
}

.rr_win {
    color: #a4cc98;
}

.rr_loss {
    color: #c1846f;
}
