#teamListView .scroll-bar:vertical{
    -fx-scale-x: 0;
    -fx-padding: -100;
}

#teamListView .scroll-bar:horizontal{
    -fx-scale-x: 0;
    -fx-padding: -100;
}

.button, .choice-box {
    -fx-background-color: #f8f8f8;
    -fx-background-radius: 0;
    -fx-border-color: #c2c2c2;
}

.button:hover {
    -fx-background-color: #ececec;
}

.button:pressed{
    -fx-background-color: #f8f8f8;
}

#tabPane {
    -fx-tab-min-height: 4em;
    -fx-tab-min-width: 12em;
}

#tabPane .tab .tab-label {
    -fx-alignment: center;
    -fx-text-fill: #8e8e8e;
}

#tabPane .tab {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #c2c2c2;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#tabPane .tab:selected {
    -fx-background-color: #FFF;
    -fx-border-width: 2 1 0 1;
    -fx-border-color: #34C5E2 #c2c2c2 #c2c2c2 #c2c2c2;
}

#TS-rightside .tab {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.text-field, .text-area {
    -fx-background-radius: 0;
}

.spinner {
	-fx-min-height: 27px;
}

.spinner {
	-fx-min-width: 70px;
	-fx-pref-width: 70px;
}

#PS-leftside, #PS-center, #PS-rightside {
    -fx-padding: 0 20 20 20;
}

#PS-rightside {
	
}

#globalGrid {
    -fx-padding: 0 20 0 20;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #c2c2c2;
}


/* Exit program overlay design */
#exitPopup {
    -fx-border-width: 1;
    -fx-border-color: #c2c2c2;
    -fx-background-color: white;
}

#exitPopup .cancelBtn {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#exitPopup .cancelBtn:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

#exitPopup .cancelBtn:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#exitPopup .optionBtn {
    -fx-border-width: 0;
}

#exitPopup .optionBtn:focused {
    -fx-border-width: 0;
}

#exitPopup .saveBtn {
    -fx-background-color: #BAD26E;
    -fx-text-fill: #FFFFFF;
}

#exitPopup .saveBtn:pressed {
    -fx-background-color: #dfeabc;
}

#exitPopup .noSaveBtn {
    -fx-background-color: #FE7065;
    -fx-text-fill: #FFFFFF;
}

#exitPopup .noSaveBtn:pressed {
    -fx-background-color: #feafa8;
}

#exitPopup .cancelBtn2 {
    -fx-background-color: #bababa;
    -fx-text-fill: #FFFFFF;
}

#exitPopup .cancelBtn2:pressed {
    -fx-background-color: #d3d3d3;
}

/* Scrollpane bracket overview */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}


/* Tableview remove vertical scrollbar */
#mainGrid .table-view *.increment-button,
#mainGrid .table-view *.decrement-button,
#mainGrid .table-view *.increment-arrow,
#mainGrid .table-view *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}
#mainGrid .table-view .arrow, #mainGrid .table-view .sort-order-dot {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: " ";
}

/* TODO: Make the save button from icon-font instead of an .png. In order to change colors instead of opacity. */
/* MainLayout -> Save button */
#mainSaveButton:hover {
    -fx-opacity: 0.8;
}

#mainSaveButton:pressed {
    -fx-opacity: 0.5;
}

/* Launcher specific styling */
#launcerMain {
    -fx-stroke-type: inside;
    -fx-stroke-width: 1;
    -fx-stroke: #c1c1c1;
}

.greenScreen {
    -fx-background-color: #00ff00;
}
